@use "../../Base/design";
@use "../../Helpers/mixins";
@use "../../Helpers/breakpoints" as bp;

.rsvp {
  @include mixins.Flex(column, center, center);
  margin: 4rem 0;

  &_card {
    @include mixins.Flex(column, center, flex-start);
    width: 80%;
    background-color: white;
    box-shadow: design.$sand-expanding-shadow;
    padding: 2rem 0;

    @include bp.breakpointMax(lg) {
      width: 100%;
      height: fit-content;
    }
  }

  &_header {
    @include mixins.Flex(row, center, center);
    font-size: calc(1.8rem + 0.7vw);
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
  }

  &_form {
    padding: 0 20%;
    @include mixins.Flex(column, center, flex-start);

    @include bp.breakpointMax("lg") {
      padding: 0 10%;
    }

    & > form {
      margin-top: 0.5rem !important;
      width: 60rem;
      @include bp.breakpointMax(md) {
        width: 45rem;
      }
      @include bp.breakpointMax(sm) {
        width: 100%;
      }

    }

    &_label {
      font-size: calc(1.5rem + 0.3vw);
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &_textField {
      @include mixins.Flex(row, flex-start, space-between);
      margin-bottom: 3rem;

      @include bp.customBreakpointMax(475px) {
        @include mixins.Flex(column, flex-start, space-between);
      }

      &_item {
        @include mixins.Flex(column, flex-start, center);
        width: fit-content;

        @include bp.customBreakpointMax(475px) {
          width: 100%;
        }

        & label {
          font-size: calc(1.5rem + 0.3vw) !important;
          font-family: "Vollkorn";
        }
      }
    }

    &_optionField {
      @include mixins.Flex(column, flex-start, flex-start);
      margin-bottom: 2rem;
    }

    &_paragraphField {
      & > div {
        margin-top: 2rem;

        & > label {
          font-size: calc(1.2rem + 0.3vw) !important;
          font-weight: 600;
          margin-bottom: 2rem;
        }
      }
    }

    &_sad {
      @include mixins.Flex(column, center, flex-start);
      margin-top: 2rem;

      span {
        font-size: calc(3rem + 1.5vw);
      }
    }
  }

  &_modal {
    &_content {
      & > img {
        width: 100%;
      } 
    }

    &_close {
      width: calc(3rem + 1.4vw);
      height: calc(3rem + 1.4vw);
      background-color: design.$foundation-color;
      padding: 1rem;
      border-radius: 50%;
      position: absolute;
      right: calc(1rem + .3vw);

      @include bp.breakpointMin(md) {
        display: none;
      }
    }
  }

  &_radio {
    padding: 1rem 2rem;
    width: 60rem;
    border-radius: 1rem;

    @include bp.breakpointMax("lg") {
      width: 100%;
    }

    &:first-child {
      margin-bottom: 1rem;
    }

    &_coming {
      background-color: design.$primary-light-color;
    }

    &_notComing {
      background-color: design.$darkSand-light-color;
    }

    &_coming,
    &_notComing {
      & > label > span {
        font-weight: bold;
      }
    }
  }

  &_submit {
    @include mixins.Flex(row, center, center);
    width: 100%;
    margin-top: 4rem;

    &_btn {
      background: none;
      border: none;
      font-size: calc(1.4rem + 0.3vw);
      width: 10rem;
      font-weight: bold;
      color: #f4f4f4;
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-family: "Lato";
      transition: all 0.2s ease;

      &_yes {
        background-color: design.$primary-strong-color;
      }

      &_no {
        background-color: design.$darkSand-strong-color;
      }

      &:hover,
      &:focus,
      &:active {
        box-shadow: design.$sand-expanding-shadow;
      }

      &:disabled {
        opacity: 0.2;
      }
    }
  }
}

.MuiAlert-message {
  font-family: "Mulish" !important;
}

.MuiDialog-scrollPaper > .MuiPaper-root {
  min-width: 50vw;

  @include bp.breakpointMax(md) {
    min-width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    padding-bottom: 4rem;
  }
}

