// Font
$main-font: 'Vollkorn', 'Lato', 'Open Sans', 'Mulish', 'sans-serif';
$cursive-font: 'Cookie', 'sans-serif';

// Colors
$primary-color: #bbdbf7;
$primary-strong-color: rgb(0, 132, 248);
$primary-light-color: #bbdbf766;
$secondary-color: #fde3d4;
$tertiary-color: #92dccd;
$support-color: #fffefc;
$foundation-color: #f4f4f4;
$darkSand-color: #a7947a;
$darkSand-strong-color: rgb(150, 148, 100);
$darkSand-light-color: #a7947a33;

// Shadow
$basic-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$basic-expanding-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.5);
$top-inset-shadow: inset 0px 2px 0px 0 rgba(0, 0, 0, 0.1);
$sand-expanding-shadow: 0 3px 12px 0 rgba(167, 148, 122, .8);
$light-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$light-expanding-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);


