// ST Font
$font-family: 'Vollkorn', 'Lato', 'Open Sans', 'Mulish', 'sans-serif';
$cursive-font: 'Cookie', 'sans-serif';

// ST Colors
$primary-color: #4a73b1;
$primary-light-color: rgb(74, 115, 177, .6);
$secondary-color: #ffe9ca;
$secondary-light-color: rgb(255, 233, 202, .2);
$tertiary-color: #92dccd;
$support-color: #fffefc;
$foundation-color: #f4f4f4;
$darkSand-color: #A7947A
