@use "design";

* {
  -webkit-appearance: none !important;
  font-family: design.$main-font;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

// Images
img {
  image-rendering: -webkit-optimize-contrast !important;
}

// Selection
::selection {
  background-color: design.$primary-color;
  color: black;
}

// Others
.wrapper_link {
  color: unset;
  text-decoration: none;
  font-size: unset;

  &:hover,
  &:active {
    color: unset;
  }
}
