@use "../../Helpers/mixins";
@use "../../Base/design";
@use "../../Helpers/breakpoints" as bp;

.info {
  @include mixins.Flex(column, center, center);
  margin-top: 4rem;

  &_body {
    @include mixins.Flex(row, center, space-between);
    padding: 3rem;
    width: 95%;
    background-color: design.$foundation-color;
    border-radius: 2rem;

    //For mobile
    &_mobile_top {
      @include mixins.Flex(row, center, space-between);
      width: 100%;
      border-radius: 2rem;


      &_card {
        width: 15rem;
        padding: 1rem 0;
        border-radius: 2rem;
        @include mixins.Flex(column, center, center);
        // border-right: 1px dashed gray;
        cursor: pointer;

        &:last-of-type {
          border-right: none;
        }

        span {
          font-size: calc(1.3rem + .4vw);
          font-weight: bold;
          text-align: center;

          @include bp.breakpointMax(md) {
            font-size: calc(1.2rem + .1vw);
          }
        }

        img {
          height: 6rem;

          @include bp.customBreakpointMax(475px) {
            display: none;
          }
        }

        &_active {
          background-color: white;
          box-shadow: design.$light-expanding-shadow;
        }
      }
    }
  }

  &_header {
    margin-bottom: 3rem;
    margin-top: 0rem;
    width: 100%;
    @include mixins.Flex(row, center, center);
    text-align: center;
    font-size: calc(2.4rem + 0.8vw);
    font-weight: bold;
  }

  &_card {
    min-height: calc(100vh - 12rem) !important;
    height: fit-content;
    flex: 0.27;
    @include mixins.Flex(column, center, flex-start);
    padding: 2rem;
    background-color: white;
    box-shadow: design.$light-expanding-shadow;
    position: relative;

    @include bp.breakpointMax(lg) {
      min-height: calc(100% - 14rem) !important;
    }

    &:nth-child(2) {
      flex: 0.4;
    }

    &_title,
    &_date,
    &_time,
    &_text1,
    &_text2,
    &_dressCode {
      text-align: center;
    }

    &_icon {
      height: 8rem;
    }

    &_title {
      font-size: calc(1.7rem + 0.5vw);
      font-weight: bold;
      margin-bottom: 2rem;

      @include bp.breakpointMin(lg) {
        margin-top: 3rem;
      }
    }

    &_date,
    &_time {
      font-size: calc(1.3rem + 0.4vw);
      font-style: italic;
    }

    &_time {
      margin-top: 0.5rem;
      margin-bottom: 4rem;
    }

    &_text1,
    &_text2 {
      font-size: calc(1.4rem + 0.3vw);
    }

    &_text2 {
      margin: 1.5rem 0;
    }

    &_dressCode {
      margin-top: 5rem;
      font-size: calc(1.4rem + 0.3vw);
    }
  }
}
