$breakpoints: (
  small: "576px",
  medium: "768px",
  large: "992px",
  xlarge: "1200px",
  xxlarge: "1400px",
);

@mixin breakpointMin($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpointMax($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin customBreakpointMin($cutoff) {
  @media screen and (min-width: $cutoff) {
    @content;
  }
}

@mixin customBreakpointMax($cutoff) {
  @media screen and (max-width: $cutoff) {
    @content;
  }
}
