@mixin Flex ($direction: row, $align: center, $justify: flex-start) {
    // Default optionlara bak, align ekle
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
};