@use "../../Base/design";
@use "../../Helpers/mixins";
@use "../../Helpers/breakpoints" as bp;

.invite {
  @include mixins.Flex(column, center);
  height: fit-content;
  position: relative;

  &_actions {
    @include mixins.Flex(row, center, space-evenly);
    width: 100%;
    margin-top: 4rem;

    @include bp.customBreakpointMax(375px) {
      @include mixins.Flex(column, center, center);

      & > button:first-child {
        margin-bottom: 2rem;
        width: 15rem;
      }
    }
  }

  &_card {
    @include mixins.Flex(row, center, space-between);
    height: fit-content;

    @include bp.breakpointMax("lg") {
      @include mixins.Flex(column, center, space-between);
    }

    &_hero {
      height: calc(23rem + 8vw);
      margin: 2rem 5rem;
    }
  }

  &_conjuction {
    font-size: calc(2.5rem + 0.2vw);
    font-weight: bold;
    margin: 0.5rem 0;
  }

  &_date,
  &_place {
    & span {
      @include mixins.Flex(row, center, center);
      font-family: design.$cursive-font;
      font-size: calc(2.6rem + 0.8vw);
      text-align: center;
      cursor: pointer;

      &:hover,
      &:active {
        color: blueviolet;
        text-decoration: underline;
      }
    }
  }

  &_text {
    @include mixins.Flex();
    width: 60%;

    @include bp.breakpointMax(xlg) {
      width: 80%;
    }
    @include bp.breakpointMax(lg) {
      width: 90%;
    }

    & span {
      font-size: calc(1.7rem + 0.6vw);
      text-align: center;
    }
  }

  &_welcome {
    @include mixins.Flex(row, center, center);
    font-size: calc(2.5rem + 0.8vw);

    &_name {
      margin-left: 0.75rem;
      font-size: calc(3.5rem + 0.8vw);
      font-family: design.$cursive-font;
    }
  }
}
