@use "../../Base/design";
@use "../../Helpers/mixins";
@use "../../Helpers/breakpoints" as bp;

.invite {
  @include mixins.Flex(column, center);
  height: fit-content;
  position: relative;
  margin-bottom: 4rem;

  &_actions {
    @include mixins.Flex(row, center, space-evenly);
    width: 100%;
    margin-top: 4rem;

    @include bp.breakpointMax(sm) {
      @include mixins.Flex(column, center, center);

      & > button:first-child {
        margin-bottom: 2rem;
        width: 15rem;
      }
    }
  }

  &_card {
    @include mixins.Flex(row, center, space-between);
    height: fit-content;

    @include bp.breakpointMax("lg") {
      @include mixins.Flex(column, center, space-between);
      margin-top: 3rem;
    }

    &_hero {
      height: calc(32rem + 11vw);
      margin: 2rem 5rem;
    }
  }

  &_conjuction {
    font-size: calc(2.5rem + 0.2vw);
    font-weight: bold;
    margin: 0.5rem 0;
  }

  &_date,
  &_place {
    width: 40rem;
    @include mixins.Flex(row);

    @include bp.breakpointMax("lg") {
      justify-content: center !important;
    }

    span {
      @include mixins.Flex(row, center, center);
      font-family: design.$cursive-font;
      font-size: calc(2.4rem + 0.8vw);
      text-align: center;
    }
  }

  &_date {
    justify-content: flex-end
  }

  &_text {
    @include mixins.Flex();
    width: 60%;
    margin-top: 3rem;

    @include bp.breakpointMax(xlg) {
      width: 80%;
    }
    @include bp.breakpointMax(lg) {
      width: 90%;
      margin-top: 3rem;
    }

    & span {
      font-size: calc(1.7rem + 0.6vw);
      text-align: center;
    }
  }

  &_welcome {
    @include mixins.Flex(row, center, center);
    font-size: calc(2.3rem + 0.7vw);

    &_name {
      margin-left: 0.75rem;
      font-size: calc(3rem + 0.8vw);
      font-family: design.$cursive-font;
    }
  }
}
