@use '../../Base/design';
@use "../../Helpers/mixins";
@use "../../Helpers/breakpoints" as bp;

.redirect_button {
    @include mixins.Flex(column);
    background: none;
    border: none;
    font-size: calc(1.4rem + .5vw);
    font-weight: bold;
    text-align: center;
    padding: .5rem 2.5rem;
    border-radius: .75rem;
    border: 2px solid transparent;

    @include bp.breakpointMax(lg) {
        min-width: 16rem;
    }

    &_rsvp {
        background-color: design.$primary-color;
    }

    &_info {
        background-color: design.$secondary-color;
        color: black;
    }

    &_rsvp, &_info {
        &:hover, &:active {
            border-color: design.$darkSand-color;
            box-shadow: design.$basic-shadow;
        }
    }

    & > span {
        font-size: calc(3rem)
    }
}